#sec_sobre {
    position: relative;
}

#sec_projetos {
    position: relative;
}

#sec_dados {
    position: relative;
}

#sec_dados {
    position: relative;
}

#sec_noticias {
    position: relative;
}

footer {
    position: relative;
}