@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

p,h1,h2,h3,span{
    font-family: 'Montserrat', sans-serif;
}

p {
    font-weight: 400;
    font-size: 15px;
    text-align: justify;
}

h1 {
    font-weight: 700;
    font-size: 30px;
}

h2 {
    font-weight: 600;
    font-size: 25px;
}

h3 {
    font-weight: 500;
    font-size: 15px;
}

.card-title {
    font-weight: 700;
    font-size: 25px;

    width: 100%;
    height: 60px;
}

.card-text-duas {
    font-weight: 700;
    margin-top: -15px;
    color: rgb(58, 58, 58);
}

.card-text{
    font-weight: 700;

    color: rgb(58, 58, 58);
}

img{
    height: 300px;
    width: 300px;
}

.cardView{
    width: 330px;
}

.chip{
    justify-content: end;
}