@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

p,h1,h2,h3, span, i{
    font-family: 'Montserrat', sans-serif;
    color: #fafafa;
}

h1 {
    font-weight: 700;
    font-size: 30px;
}

h2 {
    font-weight: 700;
    font-size: 25px;
}


body{
    background-color: #181414;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
    